.flex-rectangle {
    width: 100%;
    background: #dcdcdc;
}

    .flex-rectangle:before {
        content: "";
        display: block;
        padding-top: 10%;
    }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    color: white;
}