@{
    ViewBag.Title = "Error en el Pago";
}

<div style="margin-top: 10px">
    <h2>@ViewBag.Title</h2>
    <hr />
    <h5>Su pago no pudo ser acreditado por un error de MercadoPago, nuestro proveedor de pagos.</h5>
</div>