@model EcommerceProject.Models.Usuario

@{
    ViewBag.Title = "PerfilUsuario";
}
<div style="margin-top: 10px">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="flex-rectangle center color"><h4>PUBLICIDAD</h4></div>
    <hr />
</div>

<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
     
    </div>
</div>
