@model EcommerceProject.Models.UsuarioCalificacion

@{
    ViewBag.Title = "Calificaciones";
}

<div style="margin-top: 10px">
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="flex-rectangle center color"><h4>PUBLICIDAD</h4></div>
    <hr />
    <h4>Próximamente...</h4>
</div>