@model IEnumerable<EcommerceProject.Models.Contratacion>

@{
    ViewBag.Title = "Servicios Contratados";
}

<div style="margin-top: 10px">
    <h2>@ViewBag.Title</h2>
    <hr />
</div>

<div class="row" style="margin-top: 20px">
    <div class="col-md-10">
        @if (Model.Count() > 0)
        {
            <div class="well">
                <div class="list-group">
                    @foreach (var contratacion in Model)
                    {
                        <div class="card" style="width: 100%">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted"><span>@contratacion.Estado</span></h6>
                                <p class="card-text">@contratacion.Publicacion.Titulo</p>
                            </div>
                        </div>
                        <hr />
                    }
                </div>
            </div>
        }
        else
        {
            <div class="well">
                <h4>No cuenta con servicios para realizar.</h4>
            </div>
        }
    </div>
</div>