@{
    ViewBag.Title = "Error";
}

<div style="margin-top: 10px">
    <h2>@ViewBag.Title</h2>
    <hr />
    <h4>Error al procesar la solicitud. Hace clic <a href="@Url.Action("Index","Home")">acá</a> para volver a la página principal.</h4>
</div>