@{
    ViewBag.Title = "Acceso Denegado";
}

<div style="margin-top: 10px">
    <h2>@ViewBag.Title</h2>
    <hr />
    <h4>No tenes permisos para ver esta página. Hace clic <a href="@Url.Action("Index","Home")">acá</a> para volver a la página principal.</h4>
</div>